@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TitleFont';
  src: url('/fonts/title.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* cursor: url("../../public/images/wii_cursor.png"), auto; */
}

body::before {
  background: inherit;
  /* filter: url('/noiseFilter.svg#noiseFilter'); */
}

.link {
  @apply text-rose-500 font-bold font-title
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
