@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: #fff7e1;
  --background-end-rgb: #fff5de;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 100;
  }
} */

html,
body {
  height: 100%; 
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  color: var(--foreground-rgb);
  /* For uniform color */
  background-color: var(--background-start-rgb);
  /* For gradient color */
  /* background: linear-gradient(to bottom,
      transparent,
      var(--background-end-rgb)) var(--background-start-rgb); */
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
